.top-advantages {
  color: #000000;
  padding: 40px 0;
  padding-bottom: 160px;
  position: relative;
  background-image: url('../img/bg/builder-and-family.png');
  background-repeat: no-repeat;
  background-position: left 23% bottom;
}


.top-advantages__title {
  text-align: center;
  margin-bottom: 70px;
}
