/* кнопки */
.button {
  background: #941140;
  box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient( -90deg, rgb(176,33,84) 1%, rgb(145,15,62) 98%);
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.39);
  letter-spacing: 1px;
  border-radius: 25px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  padding: 20px 30px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  text-align: center;
  display: block;
  font-family: 'Open Sans', sans-serif;
  transform: matrix( 1,0,0,0.98821241992717,0,0);
  transition-duration: 0.5s;
}

.button:hover,
.button:active,
.button:focus {
  background-image: linear-gradient( -90deg, rgb(145,15,62) 2%, rgb(176,33,84) 99%);
  box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.23);
  opacity: 0.8;
  transform: scale(1.2);
}




