.title {
  font-size: 51px;
  font-weight: 900;
  line-height: 1.2;
  color: #000000;
  margin: 0;
  font-family: "Merriweather", serif;
}

.title--sub {
  margin: 0;
  color: #000000;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.title--sub strong {
  font-size: 120%;
  font-weight: 700;
}

.title-two {
  font-size: 40px;
  font-family: "Merriweather", serif;
  color: #000000;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
}

.top-advantages__text {
  max-width: 562px;
  margin-right: 0;
  margin-left: auto;
}

